<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favourite Movies</ion-title>
     <ion-buttons slot="end">
      <ion-button (click)="router.navigate(['favourites'])">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
            <ion-button (click)="router.navigate(['home'])">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let favMovie of data.favouritesList">
    <img [src]="'https://image.tmdb.org/t/p/w300' + favMovie.poster_path"/>
  <ion-card-content>
    <h1>{{ favMovie.title}}</h1>
  </ion-card-content>
  <ion-card-content>
        <ion-button (click)="showMovieDetails(favMovie)" shape="round">Details</ion-button>
  </ion-card-content>
   
    </ion-card>
</ion-content>
