<ion-header>
  <ion-toolbar>
    <img [src]="'https://files.readme.io/29c6fee-blue_short.svg'" style="height: 25px; margin-left: 10px; margin-top: 5px;"/>
    <ion-title>
    </ion-title>
     <ion-item>G00472943</ion-item>
    <ion-buttons slot="end">
       <ion-button (click)="data.toggleTheme()">
        <ion-icon slot="icon-only" [name]="data.theme === 'dark' ? 'sunny' : 'moon'"></ion-icon>
      </ion-button>
      <ion-button (click)="router.navigate(['favourites'])">
        <ion-icon slot="icon-only" name="heart" color="danger"></ion-icon>
      </ion-button>
      <ion-button (click)="router.navigate(['home'])">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="key" placeholder="Enter Search Here"></ion-searchbar>
  <ion-button size="medium" (click)="searchMovies()">Search</ion-button>
  <p *ngIf="key == ''">Today's Trending Movies</p>
  <p *ngIf="key != ''">{{ key }} Movies</p>
  <ion-button size="medium" (click)="sortByRating()">Sort By Rating</ion-button>
  <ion-card *ngFor="let movie of movies" (click)="showMovieDetails(movie)">
   <div style="display: flex;">
    <img style="width: 200px;" [src]="'https://image.tmdb.org/t/p/w300' + movie.poster_path"/>
    <div style="padding: 10px;">
      <h3> {{ movie.title }} </h3>
      <p> {{ movie.overview }} </p>
      <p> {{movie.release_date }} </p>
      <p *ngIf="movie.vote_average != null">Audience Rating: {{ movie.vote_average.toFixed(1) }}/10 </p>
    </div>
   </div>
  </ion-card>


</ion-content>
