<ion-header>
  <ion-toolbar>
    <ion-title>G00472943</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="router.navigate(['favourites'])">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
      <ion-button (click)="router.navigate(['home'])">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input [(ngModel)]="key" placeholder="Search Movies"></ion-input>
  <ion-button size="medium" (click)="searchMovies()">Search</ion-button>
  <p *ngIf="key == ''">Today's Trending Movies</p>
  <p *ngIf="key != ''">{{ key }} Movies</p>
  <ion-card *ngFor="let movie of movies" (click)="showMovieDetails(movie)">
    <img [src]="'https://image.tmdb.org/t/p/w300' + movie.poster_path"/>
    <ion-card-content>
      {{ movie.overview }}
    </ion-card-content>
  </ion-card>


</ion-content>
