<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ personDetails.name }}</ion-title>
     <ion-buttons slot="end">
      <ion-button (click)="router.navigate(['favourites'])">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
            <ion-button (click)="router.navigate(['home'])">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card>
<img *ngIf="personDetails.profile_path != '' && personDetails.profile_path != null" [src]="'https://image.tmdb.org/t/p/w300' +  personDetails.profile_path"/>
<p *ngIf="personDetails.profile_path == null || personDetails.profile_path == ''">No Image Avaialable</p>
</ion-card>
 <h4 *ngFor="let otherName of personDetails.also_known_as"> {{ otherName }} </h4>
 <h4 *ngIf="personDetails.birthday != null">{{ personDetails.birthday }}</h4>
  <h4 *ngIf="personDetails.deathday != null">{{ personDetails.deathday }}</h4>
 <h4 *ngIf="personDetails.place_of_birth != null"> {{ personDetails.place_of_birth }} </h4>
 <p>{{ personDetails.biography }}</p>
 <ion-card *ngFor="let movieCredits of personMovieCredits" (click)="showMovieDetails(movieCredits)">
  <img *ngIf="movieCredits.poster_path != null" [src]="'https://image.tmdb.org/t/p/w200' + movieCredits.poster_path"/>
<ion-card-content>
  {{ movieCredits.title }}
</ion-card-content>
 </ion-card>

</ion-content>
