<ion-header [translucent]="true">
  <ion-toolbar>
     <img [src]="'https://files.readme.io/29c6fee-blue_short.svg'" style="height: 25px;"/>
     <ion-buttons slot="start">
      <ion-button (click)="router.navigate(['movie-details'])">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item>{{ personDetails.name }}</ion-item>
     <ion-buttons slot="end">
       <ion-button (click)="data.toggleTheme()">
        <ion-icon slot="icon-only" [name]="data.theme === 'dark' ? 'sunny' : 'moon'"></ion-icon>
      </ion-button>
      <ion-button (click)="router.navigate(['favourites'])">
        <ion-icon slot="icon-only" name="heart" color="danger"></ion-icon>
      </ion-button>
            <ion-button (click)="router.navigate(['home'])">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card>
  <div style="display: flex;">
<img *ngIf="personDetails.profile_path != '' && personDetails.profile_path != null" [src]="'https://image.tmdb.org/t/p/w300' +  personDetails.profile_path"/>
<p *ngIf="personDetails.profile_path == null || personDetails.profile_path == ''">No Image Avaialable</p>
<div style="padding: 10px;">

 <h4 *ngFor="let otherName of personDetails.also_known_as"> {{ otherName }} </h4>
 <h4 *ngIf="personDetails.birthday != null">{{ personDetails.birthday }}</h4>
  <h4 *ngIf="personDetails.deathday != null">{{ personDetails.deathday }}</h4>
 <h4 *ngIf="personDetails.place_of_birth != null"> {{ personDetails.place_of_birth }} </h4>
 <p>{{ personDetails.biography }}</p>
 </div>
</div>
 </ion-card>
 <h3>Filmography</h3>
 <ion-card *ngFor="let movieCredits of personMovieCredits" (click)="showMovieDetails(movieCredits)">
  <div style="display: flex;">
  <img *ngIf="movieCredits.poster_path != null" [src]="'https://image.tmdb.org/t/p/w200' + movieCredits.poster_path"/>
  <div style="padding: 10px;">
<ion-card-content>
  <h1>{{ movieCredits.title }}</h1>
  {{ movieCredits.overview }}
</ion-card-content>
</div>
</div>
 </ion-card>

</ion-content>
